@import 'variables/colors';
@import 'variables/global';
@import 'mixins/typography';
@import 'mixins/responsive';
@import 'mixins/marge';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  video {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 100%;
  }
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin-bottom: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.nuxt-link-exact-active {
  text-decoration: underline;
}
.d-none {
  transition: all 0.5s ease-in-out;
}
.boxed-large-large {
  @include marge('boxed', 'large', 'large');
}
.boxed-large-small {
  @include marge('boxed', 'large', 'small');
}
.boxed-small-large {
  @include marge('boxed', 'small', 'large');
}
.boxed-small-small {
  @include marge('boxed', 'small', 'small');
}
.fullwidth-large-large {
  @include marge('fullwidth', 'large', 'large');
}
.fullwidth-large-small {
  @include marge('fullwidth', 'large', 'small');
}
.fullwidth-small-large {
  @include marge('fullwidth', 'small', 'large');
}
.fullwidth-small-small {
  @include marge('fullwidth', 'small', 'small');
}
