@import 'variables/colors';
@import 'variables/global';
@import 'mixins/typography';
@import 'mixins/responsive';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  video {
    width: 100% !important;
    object-fit: cover !important;
    min-height: 100%;
  }
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.page-enter-active,
.page-leave-active {
  transition: opacity 0.3s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}
.nuxt-link-exact-active {
  text-decoration: underline;
}
.d-none {
  transition: all 0.5s ease-in-out;
}
.mediabox-img.ls-blur-up-is-loading,
.mediabox-img.lazyload:not([src]) {
  visibility: hidden;
}



.ls-blur-up-img {
  filter: blur(10px);
  opacity: 1;
  transition: opacity 1000ms, filter 1500ms;
}

.ls-blur-up-img.ls-inview.ls-original-loaded {
  opacity: 0;
  filter: blur(5px);
}
