@mixin marge($width, $marginTop, $marginBottom) {
  @if $width == 'boxed' {
    padding: 0 5.625rem;
    @include responsive('widescreen') {
      padding: 0 calc(5.625rem * 0.75);
    }
    @include responsive('desktop') {
      padding: 0 calc(5.625rem * 0.64);
    }
    @include responsive('tablet') {
      padding: 0 calc(5.625rem * 0.51);
    }
    @include responsive('phone') {
      padding: 0;
    }
  }
  @if $marginTop == 'large' {
    margin-top: 9.375rem;
    @include responsive('widescreen') {
      margin-top: calc(9.375rem * 0.75);
    }
    @include responsive('desktop') {
      margin-top: calc(9.375rem * 0.64);
    }
    @include responsive('tablet') {
      margin-top: calc(9.375rem * 0.51);
    }
    @include responsive('phone') {
      margin-top: 5.1875rem;
    }
  }
  @if $marginBottom == 'large' {
    margin-bottom: 9.375rem;
    @include responsive('widescreen') {
      margin-top: calc(9.375rem * 0.75);
    }
    @include responsive('desktop') {
      margin-top: calc(9.375rem * 0.64);
    }
    @include responsive('tablet') {
      margin-top: calc(9.375rem * 0.51);
    }
    @include responsive('phone') {
      margin-top: 5.1875rem;
    }
  }
  @if $marginTop == 'small' {
    margin-top: 1.5rem;
    @include responsive('widescreen') {
      margin-top: calc(1.5rem * 0.75);
    }
    @include responsive('desktop') {
      margin-top: calc(1.5rem * 0.64);
    }
    @include responsive('tablet') {
      margin-top: calc(1.5rem * 0.51);
    }
    @include responsive('phone') {
      margin-top: 0.75rem;
    }
  }
  @if $marginBottom == 'small' {
    margin-bottom: 1.5rem;
    @include responsive('widescreen') {
      margin-bottom: calc(1.5rem * 0.75);
    }
    @include responsive('desktop') {
      margin-bottom: calc(1.5rem * 0.64);
    }
    @include responsive('tablet') {
      margin-bottom: calc(1.5rem * 0.51);
    }
    @include responsive('phone') {
      margin-bottom: 0.75rem;
    }
  }
}
