@import '../variables/fonts';
@import './responsive.scss';

@mixin h1 {
  font-family: $NoeDisplay;
  font-size: 6.69rem;
  line-height: 6.69rem;
  letter-spacing: -0.8px;
  font-weight:600;

  @include responsive('widescreen') {
    font-size: calc(6.69rem * 0.75);
    line-height: calc(6.69rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(6.69rem * 0.64);
    line-height: calc(6.69rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 2.25rem;
    line-height: 2.625rem;
    letter-spacing: 0;
  }
}

@mixin h2 {
  font-family: $NoeDisplay;
  font-size: 5rem;
  line-height: 5rem;
  letter-spacing: -0.8px;
  font-weight:600;

  @include responsive('widescreen') {
    font-size: calc(5rem * 0.75);
    line-height: calc(5.5rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(5rem * 0.64);
    line-height: calc(5.5rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 2.25rem;
    line-height: 2.625rem;
    letter-spacing: 0;
  }
}
@mixin h3 {
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: 0;
  font-family: $NoeDisplay;
  font-weight:600;
  @include responsive('widescreen') {
    font-size: calc(2.25rem * 0.75);
    line-height: calc(2.625rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(2.25rem * 0.64);
    line-height: calc(2.625rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}
@mixin body {
  font-family: $IBMPlexMono;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(1.125rem * 0.75);
    line-height: calc(1.5rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(1.125rem * 0.64);
    line-height: calc(1.5rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}
@mixin caption {
  font-family: $IBMPlexMono;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 2px;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(0.875rem * 0.75);
    line-height: calc(1.3125rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(0.875rem * 0.64);
    line-height: calc(1.3125rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}
@mixin footer {
  font-family: $IBMPlexMono;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  letter-spacing: 0;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(0.875rem * 0.75);
    line-height: calc(1.3125rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(0.875rem * 0.64);
    line-height: calc(1.3125rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.75rem;
    line-height: 1.3125rem;
  }
}
@mixin footer-caption {
  font-family: $IBMPlexMono;
  font-size: 0.875rem;
  line-height: 1.125rem;
  letter-spacing: 2px;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(0.875rem * 0.75);
    line-height: calc(1.125rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(0.875rem * 0.64);
    line-height: calc(1.125rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.75rem;
    line-height: 1.125rem;
  }
}
@mixin nav {
  font-family: $IBMPlexMono;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(1.125rem * 0.75);
    line-height: calc(1.5rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(1.125rem * 0.64);
    line-height: calc(1.5rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@mixin link {
  font-family: $IBMPlexMono;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  color: $primary;
  &:hover {
    text-decoration: underline;
  }
  @include responsive('widescreen') {
    font-size: calc(1.125rem * 0.75);
    line-height: calc(1.5rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(1.125rem * 0.64);
    line-height: calc(1.5rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}

@mixin job-content {
  font-family: $IBMPlexMono;
  font-size: 1rem;
  line-height: 1.33rem;
  letter-spacing: 2px;
  font-weight: normal;
  @include responsive('widescreen') {
    font-size: calc(1rem * 0.75);
    line-height: calc(1.33rem * 0.75);
  }
  @include responsive('desktop') {
    font-size: calc(1rem * 0.64);
    line-height: calc(1.33rem * 0.64);
  }
  @include responsive('phone') {
    font-size: 0.83rem;
    line-height: 1.33rem;
    letter-spacing: 0;
  }
}
